#StoreListItem {
  .list-item {
    img {
      width: 100%;
      object-fit: cover;
    }

    .extra-icons {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 111px;
      left: 15px;
      right: 21px;
    }

    .anticon-share-alt {
      font-size: 30px;
      background: #fff;
      border: solid 1px #fff;
      border-radius: 50%;
      padding: 2px;
    }

    .rating-star {
      border: solid 1px #fff;
      border-radius: 20px;
      font-size: 13px;
      padding: 2px 4px;
      background-color: #fff;
      margin: auto 0 0;
    }
    .rating-star.dis-none {
      visibility: hidden;
    }

    .new_order_count {
      border: solid 1px red;
      background-color: red;
      color: #ffffff;
      border-radius: 50%;
      position: absolute;
      top: -13px;
      right: 2px;
    }
    .new_order_count.c-1 {
      padding: 3px 10px;
    }
    .new_order_count.c-2 {
      padding: 5px 8px;
    }
    .new_order_count.c-3 {
      padding: 5px 5px;
    }
  }
}
.ant-popover-inner-content {
  .anticon {
    font-size: 30px;
    margin: 0 5px;
  }
  .anticon-whats-app {
    color: #25d366;
  }
  .anticon-facebook {
    color: #4267b2;
  }
  .anticon-linkedin {
    color: #0077b5;
  }
  .anticon-instagram {
    color: #0077b5;
  }
}
