#BulkUploadLog {
  min-height: 100vh;
  .bulk-header {
    background-color: #dadada;
    padding: 5px 10px;
  }
  .log-items {
    padding: 8px 10px;
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-top: 10px;
    font-size: 15px;
  }
  .csv-hidden {
    display: none;
  }
}
