.auto-update-stock {
  .ant-modal-content {
    width: max-content;
    margin: auto;

    .ant-modal-body {
      padding: 12px;
    }

    .main-content {
      min-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .ant-row {
      margin-bottom: 15px;
      width: 100%;
    }
    .input-label {
      display: flex;
      justify-content: end;
      align-items: center;
    }

    .ant-modal-footer {
      display: flex;
      justify-content: center;
      padding: 10px;

      .ant-btn {
        width: 50%;
      }
    }
  }
}
