.container {
  font-family: "Roboto", sans-serif;
  :global {
    .assistant-details {
      display: grid;
      grid-template-columns: 3fr 4fr 2fr;

      p {
        margin: 0;
        padding: 0;
      }

      .icon {
        align-self: end;
        justify-self: center;
      }
    }

    .status {
      margin-top: 10px;

      button {
        color: #ffffff;
        font-weight: bold;
      }
    }

    .tabs {
      display: flex;
      margin-bottom: 10px;

      .tab {
        padding: 5px 15px;
        border: 1px solid #9e9e9e;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        background-color: #e0e0e0;
        color: black;
      }

      .active {
        background-color: #fafafa;
      }
    }

    .radio-button.active {
      background-color: rgb(26, 115, 232);
      color: #ffffff;
    }

    .radio-button {
      text-align: center;
      flex: 1;
      overflow: hidden;
      color: rgb(26, 115, 232);
      border: 1px solid rgb(26, 115, 232);
      border-right: none;

      &:last-child {
        border-right: 1px solid rgb(26, 115, 232);
      }
    }

    .form {
      .w-lg {
        .ant-form-item-label {
          width: 115px !important;
        }
      }

      .w-md {
        .ant-form-item-label {
          width: 85px;
        }
      }

      .w-sm {
        .ant-form-item-label {
          width: 70px;
        }
      }

      padding: 15px 10px;
      background-color: #ffffff;
      border: 1px solid #d9d9d9;
      margin-bottom: 10px;

      .ant-row {
        margin-bottom: 0;
      }

      .group {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .input {
          width: 200px;
        }

        .item {
          display: flex;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .table {
      th,
      td {
        font-size: 13px !important;
        padding: 8px 15px;
        color: black;
      }

      th {
        background-color: #e0e0e0;
      }

      tbody {
        tr:nth-child(even) {
          background-color: #f5f6f5;
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .container {
    :global {
      .form {
        grid-template-columns: 400px;
      }
    }
  }
}
