.contact-customer-modal {
  .ant-modal-content {
    width: max-content;
    margin: auto;

    .ant-modal-close {
      position: absolute;
      top: -5px;
      right: -5px;
    }
    .ant-modal-header {
      padding: 10px 20px;
    }

    .ant-modal-body {
      padding: 10px;
      width: 300px;

      .ant-input {
        margin-top: 15px;
      }

      .ant-input:focus {
        outline: none;
        box-shadow: none;
      }
      .ant-select-selector {
        outline: none;
        box-shadow: none;
      }
    }
    .ant-modal-footer {
      display: flex;
      justify-content: center;
      padding: 10px;

      .ant-btn {
        width: 50%;
      }
    }
  }
}
