.upc-ean-upload-modal {
  .main-div {
    .header-div {
      margin-bottom: 10px;
    }
    .step-list {
      padding-left: 15px;
      margin: 0;
    }
  }
  .ant-modal-body {
    padding: 24px 15px;
  }

  .ant-modal-footer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

    .ant-btn {
      width: 150px;
      background: rgb(2, 117, 216);
      border: rgb(2, 117, 216);
    }
  }
}
