#OrderItem {
  .ant-card {
    width: max-content;
    margin-top: 16px;
    border-color: #c5e5ff;
    border-radius: 10px;

    .ant-card-body {
      padding: 10px;
      width: 700px;

      .items {
        display: flex;
        flex-direction: row;

        .item_info {
          margin-left: 20px;
          margin-right: 5px;
          color: #424242;
        }
        .item-order-info {
          align-items: center;
          justify-content: flex-start;
          display: flex;
          flex-direction: column;
        }
      }

      .ant-btn {
        width: 120px;
      }
    }
  }
}
.ant-popover-message {
  padding: 5px 0;

  .anticon-exclamation-circle {
    display: none;
  }
}
