#Escalation {
  min-height: 100vh;
  .ant-card {
    width: 700px;
    margin-top: 15px;
    border-color: #c5e5ff;
    border-radius: 10px;
  }

  .product-detail-card {
    min-height: 100vh;
    width: 700px;

    .ant-card-body {
      min-height: 100vh;
    }

    .product-detail {
      border: 1px solid #e7e7e7;
      background-color: #f0faff;
      padding: 10px 15px;
      width: 68%;
      margin-top: 10px;
      border-radius: 6px;
    }

    .product-detail.self {
      margin-left: auto;
    }

    .refund-button {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 10px;
      left: 0px;
      right: 0px;

      .ant-btn {
        width: 150px;
      }
    }
    .feedback-area {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 60px;
      left: 0px;
      right: 0px;
      margin-top: 10px;
    }
  }
}
