.invoice {
  .ant-modal-content {
    width: max-content;
    margin: auto;

    .ant-modal-close-x {
      display: none;
    }

    .ant-modal-footer {
      display: flex;
      justify-content: center;
      border-top: none;
      padding: 10px 65px;

      .ant-btn {
        width: 50%;
      }
    }

    .ant-modal-body {
      display: flex;
      justify-content: center;

      .button-container {
        display: flex;
        flex-direction: column;

        .ant-btn {
          width: 300px;
          margin: 10px 0;
        }
      }
    }
  }
}
