#Details {
  .ant-card {
    width: 700px !important;
    border-color: #c5e5ff;
    border-radius: 10px;

    .ant-card-body {
      padding: 10px;

      .items {
        display: flex;
        flex-direction: row;

        .item_info {
          margin-left: 20px;
          margin-right: 5px;
          padding-left: 5px;
          color: #424242;
        }
        .item-order-info {
          align-items: center;
          justify-content: flex-start;
          display: flex;
          flex-direction: column;
        }
      }
      .ant-btn {
        width: 120px;
      }
    }
  }
  .product-list {
    margin-top: 16px;

    .ant-card-head {
      border-bottom: none;
      padding: 0 15px;

      .ant-card-head-title {
        padding-bottom: 0;
        color: #8a8a8a;
      }
      .ant-card-extra {
        padding-bottom: 0;
        color: #8a8a8a;
      }
    }
    .ant-card-body {
      padding-top: 0;
      width: auto;
    }
  }

  .side-cards {
    .ant-btn {
      width: 100% !important;
      margin: 10px 0;
    }
    .ant-card {
      width: 280px !important;
      background-color: #fff !important;

      .ant-card-head {
        min-height: auto;
        border-bottom: none;
        padding: 10px 10px 0 10px;

        .ant-card-head-title {
          padding: 0px;
          font-size: 15px;
          color: #8a8a8a;
        }
      }
    }
  }
}
