.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 5px 5px;
  border: 1px solid #e0e0e0;
  text-align: center;
  justify-content: center;
  width: 165px;
  height: 100px;
  :global {
    .title {
      margin-bottom: 0;
      color: #616161;
      font-size: 16px;
    }

    .amount {
      font-size: 22px;
      margin-bottom: 0;
      font-weight: 500;
    }

    .percent {
      margin-bottom: 0;
      font-size: 13px;
    }
  }
}
