#ProductInfo {
  .ant-card {
    width: 700px;
    margin-top: 15px;
    border-color: #c5e5ff;
    border-radius: 10px;
  }

  .product-image-card {
    .ant-card-body {
      padding: 0;
    }
  }
  .product-details-card {
    min-height: 60%;
    .details {
      display: flex;
      justify-content: flex-end;
    }
    .ant-row {
      margin: 10px 0;
    }
  }
}
