#AddNewProduct {
  .ant-input-number-handler-wrap {
    display: none;
  }
  .ant-card-body {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 7px;
  }
  .ant-input,
  .ant-select-selector,
  .ant-input-number-input,
  .ant-cascader-picker {
    background-color: #f5f5f5;
  }
  .select-keyword {
    .ant-select-selection-item {
      background-color: #fff;
      border: none;
    }
  }

  .searched-product-div {
    position: absolute;
    z-index: 1000;
    background: #fff;
    top: 40px;
    left: 0;
    right: -20px;
    border: solid 1px #ccc;
    padding: 10px;
    max-height: 300px;
    overflow: auto;
  }

  .form-submit-div {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 100px 10px;
  }
  .searched-product-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .ant-upload-select {
    width: 50%;
    border: none;
    background: none;
    height: auto;
    min-width: 180px;
    margin: 0 0 30px;

    .ant-upload {
      width: 170px;
      height: 170px;
      background-color: #fafafa;
      border: 1px dashed #d9d9d9;
    }
  }

  .ant-upload-list-picture-card-container {
    width: 50%;
    height: auto;
    min-width: 180px;
    margin: 0 0 30px;

    .ant-upload-list-item {
      width: 170px;
      height: 170px;
    }
  }

  .ant-input:hover {
    border: 1px solid #d9d9d9 !important;
  }
  .ant-input:focus {
    box-shadow: none !important;
  }
}

.rejected-replay-modal {
  .ant-modal-content {
    max-width: max-content;
    margin: auto;
  }
  .ant-modal-body {
    padding: 15px;

    .ant-input:hover {
      border: 1px solid #d9d9d9 !important;
    }
    .ant-input:focus {
      box-shadow: none !important;
      border: 1px solid #d9d9d9 !important;
    }

    .ant-input:focus .ant-input-focused {
      box-shadow: none !important;
      border: 1px solid #d9d9d9 !important;
      outline: none;
    }
  }
  .ant-modal-header {
    text-align: center;
  }
  .ant-modal-footer {
    display: flex;

    .ant-btn {
      width: 50%;
    }
  }
}

.select-unit-modal {
  .ant-modal-footer {
    display: none;
  }
}

.image-preview {
  width: max-content !important;
  .ant-modal-content {
    margin: auto;
    max-width: max-content;

    .ant-modal-header {
      border: none;
    }
  }
}
