.dispatched-modal {
  .ant-modal-content {
    width: max-content;
    margin: auto;

    .ant-modal-header {
      text-align: center;
      padding: 10px;
    }
    .ant-modal-body {
      padding: 10px;
    }

    .ant-modal-footer {
      display: flex;
      padding: 10px;

      .ant-btn {
        width: 50%;
      }
    }
  }
}
