.cancel-order {
  .ant-modal-content {
    width: max-content;
    margin: auto;

    .ant-modal-close {
      display: none;
    }
    .ant-modal-title {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }

    .ant-modal-body {
      padding: 0 20px 20px;
    }
    .ant-modal-footer {
      display: none;
    }
  }
  textarea:focus-visible {
    outline: none;
  }

  .ant-space-vertical {
    gap: 0px !important;
  }
  .ant-space-item {
    margin-top: 10px;
  }
}
