.product-timing-modal {
  .ant-modal-content {
    width: max-content;
    margin: auto;

    .ant-modal-body {
      padding: 12px;
    }
    .date-timer {
      padding: 10px 15px;
      border-top: solid 1px #f0f0f0;
      margin: 0 -12px;
      align-items: center;
      display: flex;
      font-size: 15px;
      line-height: normal;

      .start-time {
        color: #ea2a6b;
      }
      .end-time {
        color: #19b0f5;
      }
    }

    .action-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
    }

    .ant-modal-footer {
      display: flex;
      justify-content: center;
      padding: 10px;

      .ant-btn {
        width: 100%;
      }
    }
  }
}
