.product-items {
  justify-content: space-between;
  display: flex;
  padding: 20px 5px 15px;
  border-bottom: solid 0.5px #e0e0e0;

  .product-item-info {
    margin: 0 25px;
    width: 20.5em;
  }
  .dispatched {
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #8bc54a;
      border-color: #8bc54a;
      border-radius: 49%;
    }
  }
}
.product-items:last-child {
  border: none !important;
}
