.custom-tab {
  margin-bottom: 5px;
  .ant-tabs-tab {
    background-color: #e0e0e0;
    color: #000000;
    padding: 7px 10px 5px 10px;
    margin: 0;
    min-width: 135px;
    border: solid 1px #ccc;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    justify-content: center;
  }

  .ant-tabs-tab.active {
    background-color: #fafafa;
  }
}
