.custom-tab {
  margin-bottom: 5px;
  .ant-tabs-tab {
    background-color: #e0e0e0;
    color: #000000;
    padding: 7px 10px 5px 10px;
    margin: 0;
    min-width: 150px;
    border: solid 1px #ccc;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    justify-content: center;
  }

  .ant-tabs-tab.active {
    background-color: #fafafa;
  }

  .ant-switch {
    border: 1px solid #ccc;
    background: #fafafa;
    height: 25px;
  }
  .ant-switch-checked {
    background-color: #fff;
  }
  .ant-switch-inner {
    color: #000000;
  }
  .ant-switch-handle::before {
    background-color: #1589ff;
  }
}
.shop-open-close-modal {
  width: max-content !important;
  margin: auto;

  .ant-modal-close-x {
    display: none;
  }
  .ant-modal-header {
    text-align: center;
    border: none;
    padding-bottom: 0;
  }

  .ant-modal-body {
    padding: 15px;
  }
  .ant-modal-footer {
    display: flex;
    justify-content: space-between;

    .ant-btn-link {
      width: 50%;
    }
  }
}
