.conformation-associate {
  .ant-modal-content {
    width: max-content;
    margin: auto;

    .ant-modal-close {
      display: none;
    }

    .ant-modal-body {
      padding: 10px;
    }

    .ant-radio-group {
      font-size: 14px;
    }
    .radio-detail {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 10px;
      border-bottom: solid 1px #cccccc;
    }

    .ant-modal-footer {
      display: flex;
      justify-content: center;

      .ant-btn {
        width: 50%;
      }
    }
  }
}
